#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cvContainer {
  display: flex;
  flex-direction: column;
  border: solid white 1px;
  border-radius: 10px;
  padding: 1rem;
}

.cvSection {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
}

input {
  width: 60%;
  margin: 0.5rem;
}

input:invalid {
  border: solid 1px red;
}


button {
  margin: 0.5rem;
}

fieldset {
  border-radius: 15px;
  margin-bottom: 2rem;
}

legend {
  font-weight: bold;
}

#studyName, #companyPositionDetails {
  width: 60%;
}

.final {
  display: flex;
  flex-direction: column;
  border: solid rgb(136, 253, 123) 1px;
  border-radius: 10px;
  padding: 1rem;
  align-items: center;
  width: 40vw;
}

.finalGeneral,
.finalEducation,
.finalPractical {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}