#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cvContainer {
  display: flex;
  flex-direction: column;
}

.cvSection {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
}

input {
  width: 60%;
  margin: 0.5rem;
}

input:invalid {
  border: solid 1px red;
}


button {
  margin: 0.5rem;
}

fieldset {
  border-radius: 15px;
  margin-bottom: 2rem;
}

legend {
  font-weight: bold;
}

#studyName, #companyPositionDetails {
  width: 60%;
}